@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 24% 93%;
    --foreground: 141 20% 10%;
    --card: 0 0% 100%;
    --card-foreground: 141 20% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 141 20% 10%;
    --primary: 141 36% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 141 20% 88%;
    --secondary-foreground: 141 36% 25%;
    --muted: 150 10% 85%;
    --muted-foreground: 141 10% 40%;
    --accent: 71 67% 53%;
    --accent-foreground: 71 67% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 141 20% 80%;
    --input: 141 20% 80%;
    --ring: 141 36% 45%;
    --radius: 1rem;
    --chart-1: 141 36% 45%;
    --chart-2: 71 67% 53%;
    --chart-3: 150 24% 93%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 141 20% 5%;
    --foreground: 150 24% 93%;
    --card: 141 20% 8%;
    --card-foreground: 150 24% 93%;
    --popover: 141 20% 8%;
    --popover-foreground: 150 24% 93%;
    --primary: 141 36% 45%;
    --primary-foreground: 0 0% 98%;
    --secondary: 141 20% 15%;
    --secondary-foreground: 150 24% 93%;
    --muted: 141 20% 15%;
    --muted-foreground: 141 10% 60%;
    --accent: 71 67% 53%;
    --accent-foreground: 71 67% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 141 20% 15%;
    --input: 141 20% 15%;
    --ring: 141 36% 45%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body antialiased;
  }
}